@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root > * {
  display: flex;
}

#main {
  max-height: calc(100vh - 92px);
}

main.show {
  min-width: calc(100vw - 500px);
}

#action-list {
  min-width: 450px;
}

#action-list li {
  height: 50px;
}

#action-list li > code.method {
  width: 50px;
}

#action-list li > code.format {
  @apply uppercase text-right text-white;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  padding: 2px 3px;
  width: 36px;
}

dl {
  width: 100%;
}

dl > dt, dl > dd {
  display: inline-block;
}

dl > dt {
  @apply font-bold align-middle;
  width: 120px;
}

dl > dd {
  @apply font-mono text-sm whitespace-pre-wrap break-all py-2 align-middle;
}

dl > dt:not(.full) + dd {
  width: calc(50% - 120px);
}

dl > dt.full + dd {
  width: calc(100% - 120px);
}

h3 {
  @apply mt-3 mb-2 text-xl text-blue-900;
}
