*
  box-sizing: border-box

body
  display: flex
  flex-direction: column
  height: 100vh

.no-wrap
  white-space: nowrap

@font-face
  font-family: 'Fira Code'
  src: url("../assets/FiraCode-Regular.woff2") format("woff2")
  font-variant-ligatures: contextual
